<!DOCTYPE html>
<html>
    <head>
        <title>Vine Thumbnails</title>
    </head>
    <body>
        <form action="/" method="GET">
            <input type="text" name="vine_id" value="" placeholder="Vine ID" />
            <select name="s">
                <option value="180">180x180</option>
                <option value="240">240x240</option>
                <option value="320">320x320</option>
                <option value="480">480x480</option>
            </select>
            <input type="submit" value="Get Thumbnail" />
        </form>
    </body>
</html>
